@page
@model PracticaVeterinaria.App.Presentacion.Pages.LisModel
@{
}

<h2>Lista de Propietarios</h2>

<table class="table">
<tr>

    <td>id</td>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Dirección</td>
    <td>Teléfono</td>
    <td>Correo</td>


</tr>


<table>    

<h2>Tabla con estilos bootstrap</h2>
